.profit {
  display: flex;
  justify-content: center;
  height: 185px;
  width: 185px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  font-weight: 100;

  &:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-image-slice: 1;
    transition: 0.3s;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s;
  }

  &__item {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translate(-3px, 27px);
  }

  &__caption {
    margin-bottom: 40px;
    line-height: 19px;
    transform: translate(-1px, 10px);
    font-size: 18px;
  }

  &__number {
    font-weight: 900;
    font-size: 58px;
    line-height: 42px;
  }

  &__number-container {
    transform: translate(-3px, 1px);
  }

  &__desc {
    font-size: 19px;
  }

  &__number-special-text {
    font-size: 16px;
  }
}
